<ul nz-menu nzMode="inline" style="height: 100%;">
    <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
      <ul>
        <li nz-menu-group nzTitle="Item 1"></li>
        <li nz-menu-group nzTitle="Item 2"></li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
      <ul>
        <li nz-menu-item>Option 5</li>
        <li nz-menu-item>Option 6</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
      <ul>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
        <li nz-menu-item>Option 11</li>
        <li nz-menu-item>Option 12</li>
        <li nz-menu-item>Option 13</li>
      </ul>
    </li>
  </ul>